@addTagHelper  "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCalifornia.Models.Account.RegisterViewModel
@{
    Layout = "_Layout";
}

<h1>User Registration</h1>

<fieldset class="account">
    <form role="form" asp-action="Register">

        <div asp-validation-summary="All" class="input-validation-error"></div>

        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Email address" />
            <span asp-validation-for="EmailAddress"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    </form>
</fieldset>
